<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KPI Berry</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <div class="formwrapper">
        <h1 class="title">Add Record</h1>
        <form method="POST" action="{{ url_for('add') }}">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="form-field">{{ form.value.label }} {{ form.value(size=20) }}</div>
            {{ form.submit }}
        </form>
      </div>
    
    {% endblock %}
  </body>
</html>