<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KPI Berry</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1>Sample Statistics</h1>
    <p>Count: {{ count }}</p>
    <p>Mean: {{ mean }}</p>
    <p>Variance: {{ variance }}</p>
    <p>Is Gaussian: {{ is_gaussian }}</p>
    {% if confidence_interval %}
      <p>95% Confidene Interval: {{ confidence_interval[0] }} - {{ confidence_interval[1] }} </p>
    {% endif %}
    <p>Stationarity: {{ stationarity }}</p>
    
    {% endblock %}
  </body>
</html>